.coa-header {
  width: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: center;

  .header-nav {
    display: flex;
    gap: 4rem;
    font-size: 0.8rem;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: #333;
      font-weight: 400;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
