.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 92vh;   
  padding: 0rem 5rem 0rem 5rem;

  .projects-grid {
    img {
      max-height: 44rem;
    }

    img:hover {
      cursor: pointer;

    }
  }

  .language-switch {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    font-size: 0.8rem;

    a {
      cursor: pointer;
      text-decoration: none;
      margin: 0 0.2rem;

      &.active {
        font-weight: bold;
      }
    }
  }
}
