<coa-header-component></coa-header-component>

<main class="carousels">
  <div class="carousel left" (click)="onCarouselClick($event, 'left')">
    <img *ngFor="let img of images; let i = index"
      oncontextmenu="return false;"
      [src]="img"
      [class.active]="i === leftIndex"/>
  </div>

  <div class="carousel right" (click)="onCarouselClick($event, 'right')">
    <img *ngFor="let draw of lineDraws; let i = index"
      oncontextmenu="return false;"
      [src]="draw"
      [class.active]="i === rightIndex"/>
  </div>
</main>

<section *ngIf="!loading" class="project-title">
  <h1>{{ project?.TITLE }}</h1>
</section>

<section *ngIf="!loading" class="project-info">
  <div class="left">
    <p class="quote">{{ project?.QUOTE }}</p>
    <small>{{ project?.AUTHOR }}</small>

    <br>
    <br>

    <p class="description">{{ project?.TEXT }}</p>
  </div>

  <div class="right meta">
    <p><strong>{{ project?.YEAR_LABEL }}:</strong> {{ project?.YEAR }}</p>
    <p><strong>{{ project?.LOCATION_LABEL }}:</strong> {{ project?.LOCATION }}</p>
    <p><strong>{{ project?.TYPE_LABEL }}:</strong> {{ project?.TYPE }}</p>
    <p><strong>{{ project?.TEAM_LABEL }}:</strong> {{ project?.TEAM }}</p>
  </div>
</section>

<div class="language-switch">
  <a (click)="switchLang('pt')" [class.active]="lang === 'pt'">PT</a>
  <span>|</span>
  <a (click)="switchLang('en')" [class.active]="lang === 'en'">EN</a>
</div>