/*
main.carousels {
  display: flex;
  height: 80vh;
  padding: 2rem 0rem 0rem 0rem;

  .carousel {
    flex: 1;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    img {
      position: absolute;
      opacity: 0;
      transition: opacity 0.5s ease;
      max-height: 100%;
      max-width: 100%;
      margin: auto;
      top: 0; bottom: 0; left: 0; right: 0;

      &.active {
        opacity: 1;
      }
    }
  }
}

.project-title {
  text-align: center;
  margin: 2rem 0;
  
  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.05em;
  }
}

.project-info {
  display: grid;
  grid-template-columns: 2fr 1fr; // 2fr 2fr to have 50/50
  gap: 2rem;
  padding: 2rem 4rem;
  font-size: 14px;
  line-height: 1.5;

  .left {
      .quote {
        font-style: italic;
        margin-bottom: 0.5rem;
      }
      .description {
        margin-top: 1rem;
      }
    }

  .right.meta {
    font-size: 13px;
    color: #444;

    p {
      margin: 0.3rem 0;
    }
  }
}

.language-switch {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  font-size: 0.8rem;

  a {
    cursor: pointer;
    text-decoration: none;
    margin: 0 0.2rem;

    &.active {
      font-weight: bold;
    }
  }
}
*/

main.carousels {
  display: flex;
  height: 80vh;
  padding: 2rem 2rem 0rem 5rem;

  .carousel {
    flex: 1;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    img {
      position: absolute;
      opacity: 0;
      transition: opacity 0.5s ease;
      max-height: 100%;
      max-width: 100%;
      margin: auto;
      top: 0; bottom: 0; left: 0; right: 0;

      &.active {
        opacity: 1;
      }
    }
  }
}

.project-title {
  text-align: center;
  margin: 2rem 0;
  
  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.05em;
  }
}

.project-info {
  padding: 2rem 4rem;
  font-size: 14px;
  line-height: 1.5;

  .quote {
    font-style: italic;
    margin-bottom: 0.5rem;
  }

  .meta {
    margin-top: 2rem;
    font-size: 13px;
    color: #444;
  }
}

.language-switch {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  font-size: 0.8rem;

  a {
    cursor: pointer;
    text-decoration: none;
    margin: 0 0.2rem;

    &.active {
      font-weight: bold;
    }
  }
}
