.info-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 92vh;   
  padding: 0rem 5rem 0rem 5rem;
  box-sizing: border-box;
  position: relative;

  .left {
    width: 30%;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 36vh;

    .credits {
      margin-top: auto;
      font-size: 0.75rem;
      margin-top: 4rem;
    }
  }

  .right {
    width: 60%;
    text-align: justify;
    font-size: 0.95rem;
    line-height: 1.6;
    padding-bottom: 36vh;
  }

  .language-switch {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    font-size: 0.8rem;

    a {
      cursor: pointer;
      text-decoration: none;
      margin: 0 0.2rem;

      &.active {
        font-weight: bold;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 2rem;  

    .left, .right {
      width: 100%;
    }

    .credits {
      margin-top: 2rem;
    }

    .language-switch {
      margin-top: auto;
      align-self: flex-end; 
    }
  }
}
